<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>



<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Follow me for new features and updates and tweak giveaways!</string>
		</dict>


		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>MegaDev</string>
			<key>user</key>
			<string>omegaluldev</string>
		</dict>


	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Toggle</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.megadev.Bonzipref</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable tweak</string>
			<key>PostNotification</key>
			<string>com.megadev.Bonzipref/ReloadPrefs</string>
		</dict>

	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Add custom TTS mesages to Bonzi .</string>
		</dict>

			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>you can use %name% , %time% , %date% or %battery% as a variable in your tts message.</string>
		</dict>

		
	<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>cellClass</key>
			<string>megacell</string>
			<key>defaults</key>
			<string>com.megadev.Bonzipref</string>
			<key>key</key>
			<string>text</string>
			<key>label</key>
			<string>Add new string</string>
			<key>placeholder</key>
			<string>%name% is super cool!</string>
			<key>PostNotification</key>
			<string>com.megadev.BonziPref/ReloadPrefs</string>
		</dict>
				<dict>
    <key>cell</key>
    <string>PSButtonCell</string>
    <key>cellClass</key>
    <string>HBTintedTableCell</string>
		<key>action</key>
		<string>test</string>
    <key>label</key>
    <string>Delete strings file</string>
</dict>
	<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Change name. (Requires respring)</string>
		</dict>
				<dict>
    <key>cell</key>
    <string>PSButtonCell</string>
    <key>cellClass</key>
    <string>HBTintedTableCell</string>
		<key>action</key>
		<string>clearname</string>
    <key>label</key>
    <string>Change name</string>
</dict>
	</array>
	<key>title</key>
	<string>Bonzi Buddy</string>
</dict>
</plist>
